<html lang="en">
<head>
    <!--Begin jQuery-->
    <script src="/js/jQuery/jquery-3.4.1.js"></script>
    <!--End jQuery-->

    <!--Bootstrap-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css"/>
    <script src="/js/Bootstrap/Bootstrap.min.js"></script>
    <!--End Bootstrap-->

    <!-- Begin bs-custom-file-input-->
    <script src="/js/bs-custom-file-input.min.js"></script>
    <!-- End bs-custom-file-input-->

    <!--Begin DataTables-->
    <link rel="stylesheet" type="text/css" href="/js/DataTables/css/dataTables.bootstrap4.css"/>
    <script type="text/javascript" src="/js/DataTables/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="/js/DataTables/js/dataTables.bootstrap4.js"></script>
    <!--End DataTables-->

    <title>{{ page_title }}</title>
</head>