<!DOCTYPE html>
{{ include('common/header.twig.html') }}

<div name="content"> 
    <h1 style="text-align: center"> Error: User Not Registered </h1> 
    </div>
        <h4 style="text-align: center; line-height: 1.5;"> 
            {{ username }}
            is not registered
            as a <b>student/faculty</b> under 
            <br> 
            the Rowan University Pedagogical system. Please contact your administrator or
            <br> instructor for assistance.
        </h4>
    <br>
    <h4 style="text-align: center; font-weight: bold;"> Administrator Contact Information </h4>
    <br>
    <h4 style="text-align: center"> Email: <a href="mailto: coughlin@rowan.edu"> coughlin@rowan.edu </a> </h4>
    <h4 style="text-align: center"> Office Phone Number: (856) 256-4805 </h4>
    